aiofiles
pyrotgfork
tgcrypto
python-dotenv
fastapi[standard]
parse-torrent-title
requests
jinja2
motor
themoviedb
pytz
pycountry
httpx
aiofiles
hachoir
PyJWT
pymongo
python-multipart
passlib[bcrypt]
bcrypt==3.2.0
orjson
ujson
ijson
